 <div class=" p-5 bg-white  rounded-lg shadow-md mt-5">
    <p class="text-xl font-semibold mb-4">Hot Network Questions</p>
    <p><i class="fa fa-hashtag " ></i> <span class="text-blue-700 hover:text-blue-800 cursor-pointer text-sm"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <p><i class="fa fa-hashtag mt-4" ></i> <span class="text-blue-700 hover:text-blue-800 cursor-pointer text-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <p><i class="fa fa-hashtag mt-4" ></i> <span class="text-blue-700 hover:text-blue-800 cursor-pointer text-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <p><i class="fa fa-hashtag mt-4" ></i> <span class="text-blue-700 hover:text-blue-800 cursor-pointer text-sm"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <p><i class="fa fa-hashtag mt-4" ></i> <span class="text-blue-700 hover:text-blue-800 cursor-pointer text-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <p><i class="fa fa-hashtag mt-4" ></i> <span class="text-blue-700 hover:text-blue-800 cursor-pointer text-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> 
 </div>
  