 <div class="bg-blue-600 mt-5  p-1 text-white text-xs font-semibold rounded-md " style="width: max-content;">Data Science</div>
        <div class="bg-blue-600 mt-3  p-1 text-white text-xs font-semibold rounded-md " style="width: max-content;">PMP</div>
        <div class="bg-blue-600 mt-3  p-1 text-white text-xs font-semibold rounded-md " style="width: max-content;">Machine Learning</div>
 <div class="bg-blue-600 mt-3  p-1 text-white text-xs font-semibold rounded-md " style="width: max-content;">Deep Learning</div>