 <div role="presentation">
                           <div class="bg-white p-1.5 shadow-lg rounded-lg mx-4">
                              <div class="m-2">
                                 <div class="flex items-center">
                                    <div class="mr-2">                
                                       <a href="/hagnerd">          
                                       <img class="rounded-full w-8" src="https://res.cloudinary.com/practicaldev/image/fetch/s---dcV6iX4--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/112962/b1373942-b945-4d16-af76-c448e080d14a.jpeg" alt="hagnerd profile" loading="lazy">        
                                       </a>      
                                    </div>
                                    <div>
                                       <p>          
                                          <a href="/hagnerd" class="text font-semibold">Matt Hagner</a>                  
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="pl-12 md:pl-10 xs:pl-10">
                                 <h2 class="text-xl font-semibold mb-2 hover:text-blue-600 leading-7 text-gray-700">
                                    <a href="/reply" id="article-link-151230" class="xl:ml-2 lg:ml-2 md:ml-2">
                                    Best way to remove columns from table [ Live Project ]
                                    </a>
                                 </h2>
                                 <p class="mb-4 xl:ml-2 lg:ml-2 md:ml-2">Hello guys, I'm a little bit worried. what is the best way to remove two foreign keys columns from a table on a live project. [ My project is hosted on an Ubuntu Linux server by Digitalocean. and I use SSH to run migrations on live. I know how to a...</p>
                                 <div class="flex justify-between items-center">
                                    <div class="flex">
                                       <a href="/hagnerd/setting-up-tailwind-with-create-react-app-4jd" class="py-1 text-gray-400 text-sm rounded">
                                       <i class="far fa-eye visible"></i>
                                       195<span class="hidden md:inline">&nbsp;reactions</span>
                                       </a>
                                       <a href="/hagnerd/setting-up-tailwind-with-create-react-app-4jd#comments" class="py-1 pl-4 text-gray-400 text-sm rounded">
                                          <svg class="inline fill-current" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                                             <path d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z"></path>
                                          </svg>
                                          20<span class="hidden md:inline">&nbsp;comments</span>
                                       </a>
                                    </div>
                                    <div class="flex items-center">                
                                       <small class="mr-2 text-gray-400">replied 1 min ago</small>             
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <div role="presentation">
                           <div class="bg-white p-1.5 shadow-lg rounded-lg mx-4 mt-6">
                              <div class="m-2">
                                 <div class="flex items-center">
                                    <div class="mr-2">                
                                       <a href="/hagnerd">          
                                       <img class="rounded-full w-8" src="https://media.contentapi.ea.com/content/dam/gin/images/2017/01/crysis-3-keyart.jpg.adapt.crop1x1.767p.jpg" alt="hagnerd profile" loading="lazy">        
                                       </a>        
                                    </div>
                                    <div>
                                       <p>          
                                          <a href="/hagnerd" class="text font-semibold">Steve Keri</a>                  
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="pl-12 md:pl-10 xs:pl-10">
                                 <h2 class="text-xl font-semibold mb-2 hover:text-blue-600 leading-7 text-gray-700">
                                    <a href="reply_page.html" id="article-link-151230" class="xl:ml-2 lg:ml-2 md:ml-2">
                                    What is the best practice to persist auth user info in SPA?
                                    </a>
                                 </h2>
                                 <p class="mb-4 xl:ml-2 lg:ml-2 md:ml-2">What is the best practice to persist auth user info in SPA? Is it a good practice to store it in local storage( i.g. localStorage.getItem('authUser') ), or widow object ( i.g. window.user) ? Should I send a request to the server every time I want to...</p>
                                 <div class="flex justify-between items-center">
                                    <div class="flex">
                                       <a href="/hagnerd/setting-up-tailwind-with-create-react-app-4jd" class="py-1 text-gray-400 text-sm rounded">
                                       <i class="far fa-eye visible"></i>
                                       120<span class="hidden md:inline">&nbsp;reactions</span>
                                       </a>
                                       <a href="/hagnerd/setting-up-tailwind-with-create-react-app-4jd#comments" class="py-1 pl-4 text-gray-400 text-sm rounded">
                                          <svg class="inline fill-current" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                                             <path d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z"></path>
                                          </svg>
                                          19<span class="hidden md:inline">&nbsp;comments</span>
                                       </a>
                                    </div>
                                    <div class="flex items-center">                
                                       <small class="mr-2 text-gray-400">replied 8 min ago</small>             
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <div role="presentation">
                           <div class="bg-white p-1.5 shadow-lg rounded-lg mx-4 mt-6">
                              <div class="m-2">
                                 <div class="flex items-center">
                                    <div class="mr-2">                
                                       <a href="/hagnerd">          
                                       <img class="rounded-full w-8" src="https://res.cloudinary.com/practicaldev/image/fetch/s---dcV6iX4--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/112962/b1373942-b945-4d16-af76-c448e080d14a.jpeg" alt="hagnerd profile" loading="lazy">        
                                       </a>      
                                    </div>
                                    <div>
                                       <p>          
                                          <a href="/hagnerd" class="text font-semibold">Matt Hagner</a>                  
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="pl-12 md:pl-10 xs:pl-10">
                                 <h2 class="text-xl font-semibold mb-2 hover:text-blue-600 leading-7 text-gray-700 xl:ml-2 lg:ml-2">
                                    <a href="reply_page.html" id="article-link-151230">
                                    Trying to get Logic out of Blade Nested relationship
                                    </a>
                                 </h2>
                                 <p class="mb-4 xl:ml-2 lg:ml-2 md:ml-2">I have an app that tracks training requirement compliance by Division. I have Divisions that have a many to many relationship with requirements. Division Model public function requirements() { return $this->belongsToMany('App\Requirem...</p>
                                 <div class="flex justify-between items-center">
                                    <div class="flex">
                                       <a href="/hagnerd/setting-up-tailwind-with-create-react-app-4jd" class="py-1 text-gray-400 text-sm rounded">
                                       <i class="far fa-eye visible"></i>
                                       125<span class="hidden md:inline">&nbsp;reactions</span>
                                       </a>
                                       <a href="/hagnerd/setting-up-tailwind-with-create-react-app-4jd#comments" class="py-1 pl-4 text-gray-400 text-sm rounded">
                                          <svg class="inline fill-current" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                                             <path d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z"></path>
                                          </svg>
                                          18<span class="hidden md:inline">&nbsp;comments</span>
                                       </a>
                                    </div>
                                    <div class="flex items-center">                
                                       <small class="mr-2 text-gray-400">replied 23 min ago</small>             
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                         <div role="presentation">
                           <div class="bg-white p-1.5 shadow-lg rounded-lg mx-4 mt-6">
                              <div class="m-2">
                                 <div class="flex items-center">
                                    <div class="mr-2">                
                                       <a href="/hagnerd">          
                                       <img class="rounded-full w-8" src="https://media.contentapi.ea.com/content/dam/gin/images/2017/01/crysis-3-keyart.jpg.adapt.crop1x1.767p.jpg" alt="hagnerd profile" loading="lazy">        
                                       </a>      
                                    </div>
                                    <div>
                                       <p>          
                                          <a href="/hagnerd" class="text font-semibold">Matt Hagner</a>                  
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="pl-12 md:pl-10 xs:pl-10">
                                 <h2 class="text-xl font-semibold mb-2 hover:text-blue-600 leading-7 text-gray-700">
                                    <a href="reply_page.html" id="article-link-151230" class="xl:ml-2 lg:ml-2 md:ml-2">
                                    MySQL or Eloquent ELOQUENT 18
                                    </a>
                                 </h2>
                                 <p class="mb-4 lg:ml-2 md:ml-2 xl:ml-2">I've been using MySQL for a while now and am pretty comfortable with it. I find myself using DB::unprepared() for Stored Procedures with a lot of the complex stuff just letting the database do its thing. Is there an advantage to using Eloquent in La...</p>
                                 <div class="flex justify-between items-center">
                                    <div class="flex">
                                       <a href="/hagnerd/setting-up-tailwind-with-create-react-app-4jd" class="py-1 text-gray-400 text-sm rounded">
                                       <i class="far fa-eye visible"></i>
                                       98<span class="hidden md:inline">&nbsp;reactions</span>
                                       </a>
                                       <a href="/hagnerd/setting-up-tailwind-with-create-react-app-4jd#comments" class="py-1 pl-4 text-gray-400 text-sm rounded">
                                          <svg class="inline fill-current" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                                             <path d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z"></path>
                                          </svg>
                                          13<span class="hidden md:inline">&nbsp;comments</span>
                                       </a>
                                    </div>
                                    <div class="flex items-center">                
                                       <small class="mr-2 text-gray-400">replied 7 min ago</small>             
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                        
                        <div role="presentation">
                           <div class="bg-white p-1.5 shadow-lg rounded-lg mx-4 mt-6">
                              <div class="m-2">
                                 <div class="flex items-center">
                                    <div class="mr-2">                
                                       <a href="/hagnerd">          
                                       <img class="rounded-full w-8" src="https://res.cloudinary.com/practicaldev/image/fetch/s---dcV6iX4--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/112962/b1373942-b945-4d16-af76-c448e080d14a.jpeg" alt="hagnerd profile" loading="lazy">        
                                       </a>      
                                    </div>
                                    <div>
                                       <p>          
                                          <a href="/hagnerd" class="text font-semibold">Matt Hagner</a>                  
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="pl-12 md:pl-10 xs:pl-10">
                                 <h2 class="text-xl font-semibold mb-2 hover:text-blue-600 leading-7 text-gray-700">
                                    <a href="reply_page.html" id="article-link-151230" class="xl:ml-2 md:ml-2 lg:ml-2">
                                    Unable to install any package in laravel after Downloading latest xampp
                                    </a>
                                 </h2>
                                 <p class="mb-4 xl:ml-2 md:ml-2 lg:ml-2">Hi I recently downloaded the latest xampp and shifted all my project to it. After that I cannot able to install any new packages. I am getting errors Your requirements could not be resolved to an installable set of packages. Problem 1 - Root...</p>
                                 <div class="flex justify-between items-center">
                                    <div class="flex">
                                       <a href="/hagnerd/setting-up-tailwind-with-create-react-app-4jd" class="py-1 text-gray-400 text-sm rounded">
                                       <i class="far fa-eye visible"></i>
                                       101<span class="hidden md:inline">&nbsp;reactions</span>
                                       </a>
                                       <a href="/hagnerd/setting-up-tailwind-with-create-react-app-4jd#comments" class="py-1 pl-4 text-gray-400 text-sm rounded">
                                          <svg class="inline fill-current" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                                             <path d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z"></path>
                                          </svg>
                                          12<span class="hidden md:inline">&nbsp;comments</span>
                                       </a>
                                    </div>
                                    <div class="flex items-center">                
                                       <small class="mr-2 text-gray-400">replied 5 min ago</small>             
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <div role="presentation">
                           <div class="bg-white p-1.5 shadow-lg rounded-lg mx-4 mt-6">
                              <div class="m-2">
                                 <div class="flex items-center">
                                    <div class="mr-2">                
                                       <a href="/hagnerd">          
                                       <img class="rounded-2xl w-8" src="https://media.contentapi.ea.com/content/dam/gin/images/2017/01/crysis-3-keyart.jpg.adapt.crop1x1.767p.jpg" alt="hagnerd profile" loading="lazy">        
                                       </a>      
                                    </div>
                                    <div>
                                       <p>          
                                          <a href="/hagnerd" class="text font-semibold">Matt Hagner</a>                  
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="pl-12 md:pl-10 xs:pl-10">
                                 <h2 class="text-xl font-semibold mb-2 hover:text-blue-600 leading-7 text-gray-700">
                                    <a href="/hagnerd/setting-up-tailwind-with-create-react-app-4jd" id="article-link-151230" class="xl:ml-2 md:ml-2 lg:ml-2">
                                    Display images stored in S3 in blade files
                                    </a>
                                 </h2>
                                 <p class="mb-4 xl:ml-2 md:ml-2 lg:ml-2">Hi, I am trying to store images in S3 and then display them on blade files in my application however I am getting a 403 Forbidden error when trying to load the image. My IAM user has full access to S3 and I have uploaded the image through the applica...</p>
                                 <div class="flex justify-between items-center">
                                    <div class="flex">
                                       <a href="/hagnerd/setting-up-tailwind-with-create-react-app-4jd" class="py-1 text-gray-400 text-sm rounded">
                                       <i class="far fa-eye visible"></i>
                                       90<span class="hidden md:inline">&nbsp;reactions</span>
                                       </a>
                                       <a href="/hagnerd/setting-up-tailwind-with-create-react-app-4jd#comments" class="py-1 pl-4 text-gray-400 text-sm rounded">
                                          <svg class="inline fill-current" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                                             <path d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z"></path>
                                          </svg>
                                          11<span class="hidden md:inline">&nbsp;comments</span>
                                       </a>
                                    </div>
                                    <div class="flex items-center">                
                                       <small class="mr-2 text-gray-400">replied 14 min ago</small>             
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        </div>