<div class="md:flex md:flex-wrap">
<div class="lg:w-1/4 p-4 lg:block hidden">
   <div class="items-center mb-2 fixed">
      <div class='bg-gray-100 height'>
         <a href="#">
            <div class='flex items-center'>
               <div>
                  <button class="focus:outline-none rounded-full hover:border-blue-400 border-blue-400 text-blue-500 mb-4 hover:bg-blue-100 ml-2 border-2 w-48 h-10 text-sm text-left font-semibold" href=""><i class="fa fa-clone ml-3 mr-3 fa-md"></i>All Threads</button><br>
                  <button class="focus:outline-none rounded-full hover:border-blue-400 mb-4 hover:bg-gray-100 ml-2 border-2 w-48 h-10 text-sm text-left text-gray-600 hover:text-blue-500 font-semibold" href=""><i class="fa fa-star ml-3 mr-2 fa-sm"></i>Popular this week</button><br>
                  <button class="focus:outline-none rounded-full hover:border-blue-400 mb-4 hover:bg-gray-100 ml-2 border-2 w-48 h-10 text-sm text-left text-gray-600 hover:text-blue-500 font-semibold" href=""><i class="fa fa-star ml-3 mr-2 fa-sm"></i>Popular all time</button><br>
                  <button class="focus:outline-none rounded-full hover:border-blue-400 mb-4 hover:bg-gray-100 ml-2 border-2 w-48 h-10 text-sm text-left text-gray-600 hover:text-blue-500 font-semibold" href=""><i class="fa fa-check-circle ml-3 mr-2 fa-sm"></i>Solved</button><br>
                  <button class="focus:outline-none rounded-full hover:border-blue-400 mb-4 hover:bg-gray-100 ml-2 border-2 w-48 h-10 text-sm text-left text-gray-600 hover:text-blue-500 font-semibold" href=""><i class="fa fa-times-circle ml-3 mr-2 fa-sm"></i>Unsolved</button><br>
                  <button class="focus:outline-none rounded-full hover:border-blue-400 mb-4 hover:bg-gray-100 ml-2 border-2 w-48 h-10 text-sm text-left text-gray-600 hover:text-blue-500 font-semibold" href=""><i class="fa fa-reply ml-3 mr-2 fa-sm"></i>No Replies yet</button><br>
                  <button class="focus:outline-none rounded-full hover:border-blue-400 mb-4 hover:bg-gray-100 ml-2 border-2 w-48 h-10 text-sm text-left text-gray-600 hover:text-blue-500 font-semibold" href=""><i class="fa fa-clipboard ml-3 mr-3 fa-sm"></i>Leaderboard</button><br>
               </div>
            </div>
         </a>
      </div>
   </div>
</div>
