 <main class="flex-1 overflow-x-hidden overflow-y-auto">
                 <div class=" mx-auto px-2 md:px-5 xl:px-16  py-8">
                   <div class="flex">
                    <div><h1 class="text-3xl ">Activity DashBoard </h1></div>
                    <div class="ml-auto">
                      <button id="filter-btn" class="px-2 py-1 rounded border-2 border-blue-500  hover:bg-blue-600 hover:text-white" onclick="myFunction()"><i class="fa fa-filter" aria-hidden="true"></i></button>  
                    </div>
                    </div>
                    
                    <div id="filters" class="mt-5" style="display:none">
                      <div class=" xl:flex  ">
                        <div class="flex">
                        <div class="relative"> <input type="text"  class="h-14 w-72 pr-8 pl-5 rounded-full z-0 focus:shadow focus:outline-none" placeholder="Search anything...">
                            <div class="absolute top-4 right-3"> <i class="fa fa-search text-gray-400 z-20 hover:text-gray-500"></i> </div>
                        </div>
                      </div>
                        <!-- <input type="date" class="border xl:ml-2 w-72 mt-2 lg:mt-0 lg:w-full rounded-full outline-none h-14 "> -->
                        <input type="text" class="border xl:ml-2 w-72 mt-2 lg:mt-0 xl:w-full rounded-full outline-none h-14 p-5" name="daterange" value="01/01/2018 - 01/15/2018" />
                        <div class="relative inline-flex ">
                          <svg class="w-2 h-2 absolute top-4 lg:top-2 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#648299" fill-rule="nonzero"/></svg>
                          <select class="xl:ml-2 border   mt-2 lg:mt-0  border-gray-300 rounded-full text-gray-600 h-14  pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none">
                            <option>Data Science</option>
                            <option>Full Stack Course</option>
                            <option>Pmp Course</option>
                            <option>Agile Scrum</option>
                      
                          </select>
                        </div>
                    
                        <div class="relative inline-flex">
                          <svg class="w-2 h-2 absolute top-4 lg:top-2 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#648299" fill-rule="nonzero"/></svg>
                          <select class="border xl:ml-2   mt-2 lg:mt-0  border-gray-300 rounded-full text-gray-600 h-14 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none">
                            <option>Threads Created</option>
                            <option>Questions Reported</option>
                            <option>Upvoted Answers</option>
                            <option>Replies</option>
                            <option>Answers Accepted</option>
                            <option>Not Replied</option>
                            <option>Open Threads</option>
                            <option>Reported Questions</option>
                          </select>
                        </div>

                        <div class="relative inline-flex">
                          <svg class="w-2 h-2 absolute top-4 lg:top-2 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#648299" fill-rule="nonzero"/></svg>
                          <select class="border xl:ml-2   mt-2 lg:mt-0  border-gray-300 rounded-full text-gray-600 h-14 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none">
                            <option>Users</option>
                            <option>Moderators</option>
                            <option>Admin</option>
                          </select>
                        </div>

                    </div>
                
                    </div>

                    <div class="bg-white  rounded-lg p-3 md:p-5 shadow-md mt-7">
                      <div class="text-sm border-b-2 md:flex pb-2">
                     <div ><span class="text-green-500 font-medium"><i class="fa fa-star"></i> Mohan</span> replied to this </div>
                     <div class="ml-auto text-gray-400 font-medium mt-2 md:mt-0">
                       <span class="bg-gray-100 text text-gray-800 rounded-2xl hover:bg-gray-200 cursor-pointer  md:ml-2 px-2 " onclick="window.location.href='replypage_moderator_view.html'">Go To Discussion</span>
                     </div>
                     </div>
                     <div class="bg-gray-100 mt-3 p-2 md:p-3 rounded ">
                       <div>
                           <div class="flex  items-center">
                             <div class="flex items-center space-x-2 ">
                               <img src="https://avatars2.githubusercontent.com/u/1490347?s=460&u=39d7a6b9bc030244e2c509119e5f64eabb2b1727&v=4" alt="My profile" class="w-6 h-6 rounded-full">
                               <span class="text-base text-blue-700 font-semibold">Rushali Asthana</span>
                             </div>
                             <div class="ml-auto">
                               <button class="px-1 border text-gray-600 rounded text-sm  hover:text-purple-600 hover:shadow"><i class="fa fa-arrow-circle-o-up "></i> 25</button>
                               <button class="px-1 border text-gray-600 rounded text-sm  hover:text-yellow-500 hover:shadow"  onclick="reply()"><i class="fa fa-reply" aria-hidden="true"></i> 3</button>
                               <button class="px-1 border text-gray-600 rounded text-sm hover:text-green-600 hover:shadow"><i class="fa fa-check" aria-hidden="true"></i> </button>
                               <button class="px-1 border text-gray-600 rounded text-sm  hover:text-red-600 hover:shadow"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></button>
                               <button class="px-1 border text-gray-600 rounded text-sm  hover:text-indigo-900 hover:shadow"><i class="fa fa-times" aria-hidden="true"></i></button>
                             </div>
                           </div>
           
                          <div class=" mt-1  ml-7 rounded-xl">
                         <h1 class="text-lg font-semibold ">What is Data Science?</h1>
                         <p class="text-base mt-1 text-gray-500">What is data Science and its applications? What is data Science and its applications What is data Science and its applications</p>
                         <div class="bg-white  p-2 mt-2 rounded-2xl">
                           <div class="flex items-center space-x-1 ">
                             <img src="https://avatars2.githubusercontent.com/u/1490347?s=460&u=39d7a6b9bc030244e2c509119e5f64eabb2b1727&v=4" alt="My profile" class="w-5 h-5 rounded-full">
                             <span class="text-sm text-blue-700 font-semibold">Tom Ellis</span>
                           </div>
                           <div class="ml-6">
                         <p class="text-sm mt-1 text-gray-500">Data science is an inter-disciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application domains.</p>
                         <div class="flex text-xs items-center">
                           <div class="flex items-center space-x-2 mt-2">
                           </button><button class="px-1 border text-gray-600 rounded text-xs  hover:text-purple-600 hover:shadow"><i class="fa fa-arrow-circle-o-up "></i></button>
                             <button class="px-1 border text-gray-600 rounded text-xs hover:text-green-600 hover:shadow"><i class="fa fa-check" aria-hidden="true"></i>
                              <button class="px-1 border text-gray-600 rounded text-xs  hover:text-yellow-500 hover:shadow"><i class="fa fa-reply" aria-hidden="true"></i> </button>
                             <button class="px-1 border text-gray-600 rounded text-xs  hover:text-red-600 hover:shadow"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></button>
                           </div>
                            <div class="ml-auto text-xs text-gray-400 font-semibold">  
                             <span class="font-light"> 5 mins ago</span>
                           </div>
                           </div>
                          </div>
                       </div>
                         

                         <div id="all-replies" class="all-replies" style="display:none;">
                           <div class="bg-white  p-2 mt-2 rounded-2xl">
                             <div class="flex items-center space-x-1 ">
                               <img src="https://avatars2.githubusercontent.com/u/1490347?s=460&u=39d7a6b9bc030244e2c509119e5f64eabb2b1727&v=4" alt="My profile" class="w-5 h-5 rounded-full">
                               <span class="text-sm text-blue-700 font-semibold">Tom Ellis</span>
                             </div>
                             <div class="ml-6">
     
                             <p class="text-sm mt-1 text-gray-500">Data science is an inter-disciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application domains.</p>
                             <div class="flex text-sm items-center ">
                               <div class="flex items-center space-x-2 mt-2  ">
                               </button><button class="px-1 border text-gray-600 rounded text-xs  hover:text-purple-600 hover:shadow"><i class="fa fa-arrow-circle-o-up "></i> 3</button>
                                <button class="px-1 border text-gray-600 rounded text-xs  hover:text-yellow-500 hover:shadow"><i class="fa fa-reply" aria-hidden="true"></i> 1</button>
                                <button class="px-1 border text-gray-600 rounded text-xs hover:text-green-600 hover:shadow"><i class="fa fa-check" aria-hidden="true"></i>
                                <button class="px-1 border text-gray-600 rounded text-xs  hover:text-red-600 hover:shadow"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></button>
                               </div>
                               <div class="ml-auto text-xs text-gray-400 font-light">
                                 <span class="ml-2 ">5 mins ago</span>
                               </div>
                               </div>
                               <div class="flex space-x-1">
                               <img src="https://avatars2.githubusercontent.com/u/1490347?s=460&u=39d7a6b9bc030244e2c509119e5f64eabb2b1727&v=4" alt="My profile" class="w-5 h-5 mt-3 rounded-full">
                               <div class="bg-gray-50  p-2 mt-2 rounded-2xl">
                                 <div class="flex items-center space-x-1 ">
                                   <span class="text-sm text-blue-700 font-semibold">Tom Ellis</span>
                                 </div>   
                                 <p class="text-sm mt-1 text-gray-500">Data science is an inter-disciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application domains.</p>
                                 <div class="md:flex text-sm items-center  ">
                                   <div class="flex items-center space-x-2 mt-2  ">
                                   </button><button class="px-1 border text-gray-600 rounded text-xs  hover:text-purple-600 hover:shadow"><i class="fa fa-arrow-circle-o-up "></i> 3</button>
                                    <button class="px-1 border text-gray-600 rounded text-xs  hover:text-yellow-500 hover:shadow"><i class="fa fa-reply" aria-hidden="true"></i> 1</button>
                                    <button class="px-1 border text-gray-600 rounded text-xs hover:text-green-600 hover:shadow"><i class="fa fa-check" aria-hidden="true"></i>
                                    <button class="px-1 border text-gray-600 rounded text-xs  hover:text-red-600 hover:shadow"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></button>
                                   </div>
                                   <div class="ml-auto text-xs text-gray-400 font-light ">
                                     <span class="ml-2 ">5 mins ago</span>
                                   </div>
                                   </div>
                                  </div>
                                 </div>
                              </div>
                           </div>
                           <div class="bg-white  p-2 mt-2 rounded-2xl">
                             <div class="flex items-center space-x-1 ">
                               <img src="https://avatars2.githubusercontent.com/u/1490347?s=460&u=39d7a6b9bc030244e2c509119e5f64eabb2b1727&v=4" alt="My profile" class="w-5 h-5 rounded-full">
                               <span class="text-sm text-blue-700 font-semibold">Tom Ellis</span>
                             </div>
                             <div class="ml-6">
                           <p class="text-sm mt-1 text-gray-500">Data science is an inter-disciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application domains.</p>
                           <div class="flex text-xs items-center">
                             <div class="flex items-center space-x-2 mt-2">
                             </button><button class="px-1 border text-gray-600 rounded text-xs  hover:text-purple-600 hover:shadow"><i class="fa fa-arrow-circle-o-up "></i></button>
                               <button class="px-1 border text-gray-600 rounded text-xs hover:text-green-600 hover:shadow"><i class="fa fa-check" aria-hidden="true"></i>
                                <button class="px-1 border text-gray-600 rounded text-xs  hover:text-yellow-500 hover:shadow"><i class="fa fa-reply" aria-hidden="true"></i> </button>
                               <button class="px-1 border text-gray-600 rounded text-xs  hover:text-red-600 hover:shadow"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></button>
                             </div>
                             <div class="ml-auto text-xs text-gray-400 font-semibold">
                               
                               
                               <span class="font-light"> 5 mins ago</span>
                             </div>
                             </div>
                            </div>
                         </div>
                          
                         <div class="bg-white  p-2 mt-2 rounded-2xl">
                           <div class="flex items-center space-x-1 ">
                             <img src="https://avatars2.githubusercontent.com/u/1490347?s=460&u=39d7a6b9bc030244e2c509119e5f64eabb2b1727&v=4" alt="My profile" class="w-5 h-5 rounded-full">
                             <span class="text-sm text-blue-700 font-semibold">Tom Ellis</span>
                           </div>
                           <div class="ml-6">
                         <p class="text-sm mt-1 text-gray-500">Data science is an inter-disciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application domains.</p>
                         <div class="flex text-xs items-center">
                           <div class="flex items-center space-x-2 mt-2">
                           </button><button class="px-1 border text-gray-600 rounded text-xs  hover:text-purple-600 hover:shadow"><i class="fa fa-arrow-circle-o-up "></i></button>
                             <button class="px-1 border text-gray-600 rounded text-xs hover:text-green-600 hover:shadow"><i class="fa fa-check" aria-hidden="true"></i>
                              <button class="px-1 border text-gray-600 rounded text-xs  hover:text-yellow-500 hover:shadow"><i class="fa fa-reply" aria-hidden="true"></i> </button>
                             <button class="px-1 border text-gray-600 rounded text-xs  hover:text-red-600 hover:shadow"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></button>
                           </div>
                           <div class="ml-auto text-xs text-gray-400 font-semibold">
                             
                             
                             <span class="font-light"> 5 mins ago</span>
                           </div>
                           </div>
                          </div>
                       </div>

                       <img src="Capture.PNG" class="w-full mt-3 rounded">
                         </div>
                         
                         <div class="flex mt-1 ">
                         <div class=" text-xs text-gray-400 font-semibold">
                           </div>
                           <div class="ml-auto text-xs ">
                            <button class="text-blue-500 hover:underline outline-none focus:outline-none" onclick="seeReplies()" id="seemore">See More</button>
                           </div>
                         </div>
                          </div>
                          
                      </div>
                     </div>
                    </div>
                     
                     <div class="bg-white  rounded-lg  p-3 md:p-5 shadow-md mt-5">
                      <div class="text-sm border-b-2 md:flex pb-2">
                      <div ><span class="text-green-500 font-medium"><i class="fa fa-star"></i> Rohith</span> <span class="text-red-500 font-semibold"> has reported a question </span></div>
                      <div class="ml-auto text-gray-400 font-medium mt-2 md:mt-0 flex">
                        <span class="bg-gray-100 text text-gray-800 rounded-2xl hover:bg-gray-200 cursor-pointer  md:ml-2 px-2 ">Go To Discussion</span>  <span class="border-2 border-pink-500 text text-pink-500  ml-2 px-2 rounded-2xl">Full Stack Course</span>
                      </div>
                      </div>
                      <div class="bg-gray-100 mt-3 p-2 md:p-3 rounded">
                        <div class="flex  items-center">
                          <div class="flex items-center space-x-2 ">
                            <img src="https://avatars2.githubusercontent.com/u/1490347?s=460&u=39d7a6b9bc030244e2c509119e5f64eabb2b1727&v=4" alt="My profile" class="w-6 h-6 rounded-full">
                            <span class="text-md text-blue-700 font-semibold">Rushali Asthana</span>
                          </div>
                           <div class="ml-auto">
                      
                             <button class="px-1 border text-gray-600 rounded text-sm  hover:text-indigo-900 hover:shadow"><i class="fa fa-times" aria-hidden="true"></i></button>
                          </div>
                         </div>
                        <div class="ml-8 mt-1">
                        <h1 class="text-lg font-semibold">What is Data Science?</h1>
                        <p class="text-base mt-1 text-gray-500">What is data Science and its applications? What is data Science and its applications What is data Science and its applications</p>
                        </div>
                    </div>
                     </div>
                     <div class="bg-white  rounded-lg  p-3 md:p-5 shadow-md mt-5">
                      <div class="text-sm border-b-2 md:flex pb-2">
                      <div ><span class="text-green-500 font-medium"> <i class="fa fa-star"></i>Rohith</span> <span class="text-yellow-500 font-semibold"> has closed this thread </span></div>
                      <div class="ml-auto text-gray-400 font-medium mt-2 md:mt-0 flex">
                        <span class="bg-gray-100 text text-gray-800 rounded-2xl hover:bg-gray-200 cursor-pointer  md:ml-2 px-2 ">Go To Discussion</span><span class="border-2 border-pink-500 text text-pink-500  ml-2 px-2 rounded-2xl">Full Stack Course</span>
                      </div>
                      </div>
                      <div class="bg-gray-100 mt-3 p-2 md:p-3 rounded">
                        <div class="flex  items-center">
                          <div class="flex items-center space-x-2 ">
                            <img src="https://avatars2.githubusercontent.com/u/1490347?s=460&u=39d7a6b9bc030244e2c509119e5f64eabb2b1727&v=4" alt="My profile" class="w-6 h-6 rounded-full">
                            <span class="text-md text-blue-700 font-semibold">Rushali Asthana</span>
                          </div>
                           <div class="ml-auto">
                      
                            <button class="px-1 border text-gray-600 rounded text-sm  hover:text-purple-600 hover:shadow"><i class="fa fa-arrow-circle-o-up "></i> 25</button>
                            <button class="px-1 border text-gray-600 rounded text-sm  hover:text-yellow-500 hover:shadow"><i class="fa fa-reply" aria-hidden="true"></i> 3</button>
                           
                            <button class="px-1 border text-gray-600 rounded text-sm  hover:text-indigo-900 hover:shadow"><i class="fa fa-times" aria-hidden="true"></i></button>
                          </div>
                         </div>
                        <div class="ml-8 mt-1">
                        <h1 class="text-lg font-semibold">What is Data Science?</h1>
                        <p class="text-base mt-1 text-gray-500">What is data Science and its applications? What is data Science and its applications What is data Science and its applications</p>
                        </div>
                    </div>
                     </div>
                  
                     <div class="bg-white  rounded-lg  p-3 md:p-5 shadow-md mt-5">
                      <div class="text-sm border-b-2 md:flex pb-2">
                      <div ><span class="text-green-500 font-medium"> <i class="fa fa-star"></i> Rohith</span> <span class="text-purple-400 font-semibold"> accepted an answer </span></div>
                      <div class="ml-auto text-gray-400 font-medium mt-2 md:mt-0 flex">
                        <span class="bg-gray-100 text text-gray-800 rounded-2xl hover:bg-gray-200 cursor-pointer  md:ml-2 px-2 ">Go To Discussion</span><span class="border-2 border-yellow-500 text text-yellow-500  ml-2 px-2 rounded-2xl">Agile Scrum</span>
                      </div>
                      </div>
                      <div class="bg-gray-100 mt-3 p-3 rounded ">
                        <div class="flex  items-center">
                          <div class="flex items-center space-x-1 ">
                            <img src="https://avatars2.githubusercontent.com/u/1490347?s=460&u=39d7a6b9bc030244e2c509119e5f64eabb2b1727&v=4" alt="My profile" class="w-6 h-6 rounded-full">
                            <span class="text-md text-blue-700 font-semibold">Rushali Asthana</span>
                          </div>
                          <div class="ml-auto">
                            <button class="px-1 border text-gray-600 rounded text-sm  hover:text-purple-600 hover:shadow"><i class="fa fa-arrow-circle-o-up "></i> 25</button>
                            <button class="px-1 border text-gray-600 rounded text-sm  hover:text-yellow-500 hover:shadow"><i class="fa fa-reply" aria-hidden="true"></i> 3</button>
                            <button class="px-1 border text-gray-600 rounded text-sm  hover:text-red-600 hover:shadow"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></button>
                            <button class="px-1 border text-gray-600 rounded text-sm  hover:text-indigo-900 hover:shadow"><i class="fa fa-times" aria-hidden="true"></i></button>
                          </div>
                        </div> 
                        <div class="ml-8 mt-1">
                        <h1 class="text-lg font-semibold">What is Data Science?</h1>
                        <p class="text-base mt-1 text-gray-500">What is data Science and its applications? What is data Science and its applications What is data Science and its applications</p>
                        <div class="bg-white  p-2 mt-2 rounded-2xl">
                          <div class="flex items-center space-x-1 ">
                            <img src="https://avatars2.githubusercontent.com/u/1490347?s=460&u=39d7a6b9bc030244e2c509119e5f64eabb2b1727&v=4" alt="My profile" class="w-5 h-5 rounded-full">
                            <span class="text-sm text-blue-700 font-semibold">Tom Ellis</span>
                          </div>
                          <div class="ml-6">
                        <p class="text-sm mt-1 text-gray-500">Data science is an inter-disciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application domains.</p>
                        <div class="flex text-xs items-center">
                          <div class="flex items-center space-x-2 mt-2">
                          </button><button class="px-1 border text-gray-600 rounded text-xs  hover:text-purple-600 hover:shadow"><i class="fa fa-arrow-circle-o-up "></i></button>
                            <button class="px-1 border text-gray-600 rounded text-xs hover:text-green-600 hover:shadow"><i class="fa fa-check" aria-hidden="true"></i>
                             <button class="px-1 border text-gray-600 rounded text-xs  hover:text-yellow-500 hover:shadow"><i class="fa fa-reply" aria-hidden="true"></i> </button>
                            <button class="px-1 border text-gray-600 rounded text-xs  hover:text-red-600 hover:shadow"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></button>
                          </div>
                          <div class="ml-auto text-xs text-gray-400 font-semibold">
                            
                            
                            <span class="font-light"> 5 mins ago</span>
                          </div>
                          </div>
                         </div>
                      </div>
                      </div>
  
                    </div>
                     </div>

                     
                  
                     <div class="bg-white  rounded-lg  p-3 md:p-5 shadow-md mt-5">
                      <div class="text-sm border-b-2 md:flex pb-2">
                        <div ><span class="text-blue-500 font-medium"><i class="fa fa-user" aria-hidden="true"></i> Ravi</span> <span class="text-blue-300 font-medium" > created a new thread</span></div>
                        <div class="ml-auto text-gray-400 font-medium mt-2 md:mt-0 flex">
                          <span class="bg-gray-100 text text-gray-800 rounded-2xl hover:bg-gray-200 cursor-pointer  md:ml-2 px-2 ">Go To Discussion</span><span class="border-2 border-purple-500 text text-purple-500  ml-2 px-2 rounded-2xl">Data Science Course</span>
                        </div>
                        </div>
                        <div class="bg-gray-100 mt-3 p-2 md:p-3 rounded ">
                          <div class="flex  items-center">
                            <div class="flex items-center space-x-2 ">
                              <img src="https://avatars2.githubusercontent.com/u/1490347?s=460&u=39d7a6b9bc030244e2c509119e5f64eabb2b1727&v=4" alt="My profile" class="w-6 h-6 rounded-full">
                              <span class="text-md text-blue-700 font-semibold">Rushali Asthana</span>
                            </div>
                            <div class="ml-auto text-xs text-gray-500 font-semibold">
                              <span>Created 1hr ago</span>
                            
                            </div>
                           </div>
                           <div class="ml-8">
                            <h1 class="text-lg font-semibold">What is Data Science?</h1>
                            <p class="text-base mt-1 text-gray-500">What is data Science and its applications? What is data Science and its applications What is data Science and its applications</p>
                          </div>
                        </div>
                     </div>
                     
                     <div class="bg-white  rounded-lg  p-3 md:p-5 shadow-md mt-5">
                      <div class="text-sm border-b-2 md:flex pb-2">
                      <div ><span class="text-blue-500 font-medium"><i class="fa fa-user" aria-hidden="true"></i>  Vidhi</span> <span class="text-indigo-900 font-semibold"> has upvoted an answer </span></div>
                      <div class="ml-auto text-gray-400 font-medium mt-2 md:mt-0 flex">
                        <span class="bg-gray-100 text text-gray-800 rounded-2xl hover:bg-gray-200 cursor-pointer  md:ml-2 px-2 ">Go To Discussion</span><span class="border-2 border-yellow-500 text text-yellow-500  ml-2 px-2 rounded-2xl">Agile Scrum</span>
                      </div>
                      </div>
                      <div class="bg-gray-100 mt-3 p-2 md:p-3 rounded ">
                        <div class="flex  items-center">
                          <div class="flex items-center space-x-1 ">
                            <img src="https://avatars2.githubusercontent.com/u/1490347?s=460&u=39d7a6b9bc030244e2c509119e5f64eabb2b1727&v=4" alt="My profile" class="w-6 h-6 rounded-full">
                            <span class="text-md text-blue-700 font-semibold">Rushali Asthana</span>
                          </div>
                          <div class="ml-auto">
                            <button class="px-1 border text-gray-600 rounded text-sm  hover:text-purple-600 hover:shadow"><i class="fa fa-arrow-circle-o-up "></i> 25</button>
                            <button class="px-1 border text-gray-600 rounded text-sm  hover:text-yellow-500 hover:shadow"><i class="fa fa-reply" aria-hidden="true"></i> 3</button>
                            <button class="px-1 border text-gray-600 rounded text-sm hover:text-green-600 hover:shadow"><i class="fa fa-check" aria-hidden="true"></i> </button>
                            <button class="px-1 border text-gray-600 rounded text-sm  hover:text-red-600 hover:shadow"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></button>
                            <button class="px-1 border text-gray-600 rounded text-sm  hover:text-indigo-900 hover:shadow"><i class="fa fa-times" aria-hidden="true"></i></button>
                          </div>
                        </div> 
                        <div class="ml-8">
                        <h1 class="text-lg font-semibold">What is Data Science?</h1>
                        <p class="text-base mt-1 text-gray-500">What is data Science and its applications? What is data Science and its applications What is data Science and its applications</p>
                        <div class="bg-white  p-2 mt-2 rounded-2xl">
                          <div class="flex items-center space-x-1 ">
                            <img src="https://avatars2.githubusercontent.com/u/1490347?s=460&u=39d7a6b9bc030244e2c509119e5f64eabb2b1727&v=4" alt="My profile" class="w-5 h-5 rounded-full">
                            <span class="text-md text-blue-700 font-semibold">Tom Ellis</span>
                          </div>
                          <div class="ml-6">
                        <p class="text-sm mt-1 text-gray-500">Data science is an inter-disciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application domains.</p>
                        <div class="flex text-xs items-center">
                          <div class="flex items-center space-x-2 mt-2">
                          </button><button class="px-1 border text-gray-600 rounded text-xs  hover:text-purple-600 hover:shadow"><i class="fa fa-arrow-circle-o-up "></i></button>
                            <button class="px-1 border text-gray-600 rounded text-xs hover:text-green-600 hover:shadow"><i class="fa fa-check" aria-hidden="true"></i>
                             <button class="px-1 border text-gray-600 rounded text-xs  hover:text-yellow-500 hover:shadow"><i class="fa fa-reply" aria-hidden="true"></i> </button>
                            <button class="px-1 border text-gray-600 rounded text-xs  hover:text-red-600 hover:shadow"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></button>
                          </div>
                          <div class="ml-auto text-xs text-gray-400 font-semibold">
                            
                            
                            <span class="font-light"> 5 mins ago</span>
                          </div>
                          </div>
                         </div>
                         </div>
                      </div>     
                    </div>
                     </div>

                 </div>
             </main>