<div
   class="fixed inset-0 w-full h-full z-20 bg-black bg-opacity-50 duration-300 overflow-y-auto"
   x-show="showModal1"
   x-transition:enter="transition duration-300"
   x-transition:enter-start="opacity-0"
   x-transition:enter-end="opacity-100"
   x-transition:leave="transition duration-300"
   x-transition:leave-start="opacity-100"
   x-transition:leave-end="opacity-0"
   >
   <div class="relative sm:w-3/4 md:w-1/2 lg:w-1/3 mx-2 sm:mx-auto my-10 opacity-100">
      <div
         class="relative bg-white shadow-lg  text-gray-900 z-20 p-5"
         @click.away="showModal1 = false"
         x-show="showModal1"
         x-transition:enter="transition transform duration-300"
         x-transition:enter-start="scale-0"
         x-transition:enter-end="scale-100"
         x-transition:leave="transition transform duration-300"
         x-transition:leave-start="scale-100"
         x-transition:leave-end="scale-0"
         >
         <header class="flex items-center justify-between mb-5">
            <h2 class="font-semibold text-lg">Create A New Thread</h2>
            <button class="focus:outline-none bg-blue-50 hover:bg-blue-100 p-1 rounded " @click="showModal1 = false">
               <svg class="fill-current " xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                  <path
                     d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
                     ></path>
               </svg>
            </button>
         </header>
         <main class="">
            <p >Title:</p>
            <input type="text" placeholder="Custom focus style" class="w-full placeholder-gray-500 border rounded-md p-2 my-1 focus:outline-none" />
            <p class="mt-2">Body:</p>
            <!-- <img src="Capture.PNG" class="">-->
            <%= image_tag 'writetool.PNG' , alt:"writetool" ,loading:"lazy" %>
            <p class="mt-2" >Forum:</p>
            <select class="w-full placeholder-gray-500 border rounded-md p-2 my-1 focus:outline-none">
               <option>Pmp Course</option>
               <option>Data Science Course</option>
               <option>Full Stack Course</option>
            </select>
            <p class="mt-2 mb-1">Additional Tags:</p>
            <div class="relative flex w-full flex-wrap items-stretch mb-3">
               <input type="text" placeholder="Placeholder" class="px-3 py-3 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:shadow-outline w-full pr-10"/>
               <span class="z-10 h-full leading-snug font-normal absolute text-center   bg-gray-300 rounded-r text-base items-center justify-center w-10 right-0 pr-3 py-3">
               <i class="fa  fa-plus justify-items-center ml-3"></i>
               </span>
            </div>
         </main>
         <footer class="flex justify-center p-2">
            <button
               class="bg-blue-600 font-semibold text-white p-2 w-32 rounded-md hover:bg-blue-700 focus:outline-none focus:ring shadow-lg hover:shadow-none transition-all duration-300"
               @click="showModal1 = false"
               >
            Create
            </button>
         </footer>
      </div>
   </div>
</div>
<div
   class="fixed inset-0 w-full h-full z-20 bg-black bg-opacity-50 duration-300 overflow-y-auto"
   x-show="showModal2"
   x-transition:enter="transition duration-300"
   x-transition:enter-start="opacity-0"
   x-transition:enter-end="opacity-100"
   x-transition:leave="transition duration-300"
   x-transition:leave-start="opacity-100"
   x-transition:leave-end="opacity-0"
   >
   <div class="relative sm:w-3/4 md:w-1/2 lg:w-1/3 mx-2 sm:mx-auto my-10 opacity-100">
      <div
         class="relative bg-white shadow-lg rounded-lg text-gray-900 z-20"
         @click.away="showModal2 = false"
         x-show="showModal2"
         x-transition:enter="transition transform duration-300"
         x-transition:enter-start="scale-0"
         x-transition:enter-end="scale-100"
         x-transition:leave="transition transform duration-300"
         x-transition:leave-start="scale-100"
         x-transition:leave-end="scale-0"
         >
         <div class="grid place-items-center">
            <div class="p-12 bg-white">
               <h1 class="text-xl font-semibold">Hello there 👋, <span class="font-normal">please fill in your information to continue</span></h1>
               <form class="mt-6">
                  <div class="flex justify-between gap-3">
                     <span class="w-1/2">
                     <label for="firstname" class="block text-xs font-semibold text-gray-600 uppercase">Firstname</label>
                     <input id="firstname" type="text" name="firstname" placeholder="John" autocomplete="given-name" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
                     </span>
                     <span class="w-1/2">
                     <label for="lastname" class="block text-xs font-semibold text-gray-600 uppercase">Lastname</label>
                     <input id="lastname" type="text" name="lastname" placeholder="Doe" autocomplete="family-name" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
                     </span>
                  </div>
                  <label for="email" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">E-mail</label>
                  <input id="email" type="email" name="email" placeholder="john.doe@company.com" autocomplete="email" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
                  <label for="password" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Password</label>
                  <input id="password" type="password" name="password" placeholder="********" autocomplete="new-password" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
                  <label for="password-confirm" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Confirm password</label>
                  <input id="password-confirm" type="password" name="password-confirm" placeholder="********" autocomplete="new-password" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
                  <button onclick="window.location.href=' signin_user.html'" class="w-full py-3 mt-6 font-medium tracking-widest text-white uppercase bg-black shadow-lg focus:outline-none hover:bg-gray-900 hover:shadow-none">
                  Sign up
                  </button>
                  <p class="flex justify-between inline-block mt-4 text-xs text-gray-500 cursor-pointer hover:text-black" @click="showModal3 = true">Already registered?</p>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<div
   class="fixed inset-0 w-full h-full z-20 bg-black bg-opacity-50 duration-300 overflow-y-auto"
   x-show="showModal3"
   x-transition:enter="transition duration-300"
   x-transition:enter-start="opacity-0"
   x-transition:enter-end="opacity-100"
   x-transition:leave="transition duration-300"
   x-transition:leave-start="opacity-100"
   x-transition:leave-end="opacity-0"
   >
   <div class="relative sm:w-3/4 md:w-1/2 lg:w-1/3 mx-2 sm:mx-auto my-10 opacity-100">
      <div
         class="relative bg-white shadow-lg rounded-lg text-gray-900 z-20"
         @click.away="showModal3 = false"
         x-show="showModal3"
         x-transition:enter="transition transform duration-300"
         x-transition:enter-start="scale-0"
         x-transition:enter-end="scale-100"
         x-transition:leave="transition transform duration-300"
         x-transition:leave-start="scale-100"
         x-transition:leave-end="scale-0"
         >
         <div class="">
            <div class="p-12 bg-white">
               <h1 class="text-xl font-semibold text-center">Hello 👋, <span class="font-normal">Welcome back!</span></h1>
               <form class="mt-6">
                  <label for="email" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">E-mail or User Name</label>
                  <input id="email" type="email" name="email" placeholder="E-mail or User Name" autocomplete="email" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
                  <label for="password" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Password</label>
                  <input id="password" type="password" name="password" placeholder="********" autocomplete="new-password" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
                  <button onclick="window.location.href=' signin_user.html'" class="w-full py-3 mt-6 font-medium tracking-widest text-white uppercase bg-black shadow-lg focus:outline-none hover:bg-gray-900 hover:shadow-none">
                  Sign in
                  </button>
                  <p class="flex justify-between inline-block mt-4 text-xs text-gray-500 cursor-pointer hover:text-black">Forget Password?</p>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>