<nav class="max-w-7xl font-sans xl:flex lg:flex md:flex flex-col container mx-auto xl:text-center lg:text-center md:text-center content-center sm:flex-row sm:text-left sm:justify-between py-3 lg:px-4 xl:px-4 md:px-3  sm:items-baseline w-full">
   <div class="mb-2 sm:mb-0 inner xl:ml-0 lg:ml-0 md:ml-0 ml-3">
      <div class="relative inline-flex lg:mr-0">
         <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232">
            <path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#648299" fill-rule="nonzero"/>
         </svg>
         <select class="rounded-full text-gray-800 cursor-pointer h-10 pl-5 pr-10 bg-white hover:border-gray-500 focus:outline-none appearance-none">
            <option>all categories</option>
            <option>Techical</option>
            <option>Logical</option>
            <option>Oops</option>
            <option>.Net</option>
         </select>
      </div>
      <div class="relative inline-flex">
         <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232">
            <path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#648299" fill-rule="nonzero"/>
         </svg>
         <select class="rounded-full text-gray-700 cursor-pointer h-10 pl-5 w-24 pr-10 bg-white hover:border-gray-500 focus:outline-none appearance-none">
            <option>tags</option>
            <option>PMP</option>
            <option>Full Stack</option>
            <option>Python</option>
            <option>DS</option>
         </select>
      </div>
   </div>
   <div class="xl:ml-0 lg:ml-0 md:ml-0 ml-3 sm:mb-0 self-center">
      <button
         type="button" @click="showModal1 = true"
         class="border lg:mr-0 lg:ml-0 border-4 bg-white rounded-full  h-10 text-gray-800 hover:text-white rounded-md px-2 py-1 transition duration-500 ease select-none hover:bg-indigo-600 focus:outline-none focus:shadow-outline"
         >
      <i class="fa fa-plus"></i> New Discussion
      </button>
   </div>
</nav>