<div class="height shadow-lg w-full mx-auto">
   <div class="w-full">
      <div class=" shadow overflow-hidden rounded border-b border-gray-200 overflow-x-auto rounded-lg">
         <table class="bg-white w-full">
            <thead class="bg-gray-200 text-gray-800">
               <tr>
                  <th class="border text-left p-3 capitalize font-semibold text-sm text-center"><i class="fa fa-user mt-1 mr-1.5 text-gray-400 hover:text-black cursor-pointer" ></i> User</th>
                  <th class="border text-left p-3 capitalize font-semibold text-sm text-center">
                     <div class="flex"><i class="text-gray-400 hover:text-black cursor-pointer ml-2"></i>Country</div>
                  </th>
                  <th class="border text-left p-3 capitalize font-semibold text-sm text-center">
                     <div class="flex"><i class="fa fa-sort-size-up mt-1 mr-1.5 text-gray-400 hover:text-black cursor-pointer" ></i>Rank</div>
                  </th>
                  <th class="border text-left p-3 capitalize font-semibold text-sm text-center">
                     <div class="flex"><i class="fa fa-sort-size-up mt-1 mr-1.5 text-gray-400 hover:text-black cursor-pointer" ></i>Score</div>
                     </td>
               </tr>
            </thead>
            <tbody class="text-gray-700">
               <tr>
                  <td class="border text-left py-3 px-4 text-center"><a class="hover:text-blue-500 flex" href="user_profile.html"><img alt="avatar" src="https://appzzang.me/data/editor/1608/f9c387cb6bd7a0b004f975cd92cbe2d9_1471626325_6802.png" class="mt-2 mr-2 lg:visible w-8 h-8 rounded-full"><span class="lg:mr-0 mr-10 self-center">Thomas alexander</span></a></td>
                  <td class="border text-left py-3 px-4 text-center">Austria</td>
                  <td class="border text-left py-3 px-4 text-center">#1</td>
                  <td class="border text-left py-3 px-4 text-center">9,281</td>
               </tr>
               <tr>
                  <td class="border text-left py-3 px-4 text-center"><a class="hover:text-blue-500 flex" href="user_profile.html"><img alt="avatar" src="https://inews.gtimg.com/newsapp_match/0/8693739867/0" class="mt-2 mr-2 lg:visible w-8 h-8 rounded-full"><span class="lg:mr-0 mr-10 self-center">Rohith krishna</span></a></td>
                  <td class="border text-left py-3 px-4 text-center">India</td>
                  <td class="border text-left py-3 px-4 text-center">#2</td>
                  <td class="border text-left py-3 px-4 text-center">9,281</td>
               </tr>
               <tr>
                  <td class="border text-left py-3 px-4 text-center"><a class="hover:text-blue-500 flex" href="#"><img alt="avatar" src="https://appzzang.me/data/editor/1608/f9c387cb6bd7a0b004f975cd92cbe2d9_1471626325_6802.png" class="mt-2 mr-2 lg:visible w-8 h-8 rounded-full"><span class="lg:mr-0 mr-10 self-center">Rushali Asthana</span></a></td>
                  <td class="border text-left py-3 px-4 text-center">Newyork</td>
                  <td class="border text-left py-3 px-4 text-center">#3</td>
                  <td class="border text-left py-3 px-4 text-center">9,281</td>
               </tr>
               <tr>
                  <td class="border text-left py-3 px-4 text-center"><a class="hover:text-blue-500 flex" href="#"><img alt="avatar" src="https://www.hdwallpapers.in/download/2012_darksiders_ii-1920x1080.jpg" class="mt-2 mr-2 lg:visible w-8 h-8 rounded-full"><span class="lg:mr-0 mr-10 self-center">Bhavana</span></a></td>
                  <td class="border text-left py-3 px-4 text-center">Benzil</td>
                  <td class="border text-left py-3 px-4 text-center">#4</td>
                  <td class="border text-left py-3 px-4 text-center">9,281</td>
               </tr>
               <tr>
                  <td class="border text-left py-3 px-4 text-center w-1/2"><a class="hover:text-blue-500 flex" href="#"><img alt="avatar" src="https://media.contentapi.ea.com/content/dam/gin/images/2017/01/crysis-3-keyart.jpg.adapt.crop1x1.767p.jpg" class="mt-2 mr-2 lg:visible w-8 h-8 rounded-full"><span class="lg:mr-0 mr-10 self-center">Vidhi Agarwal</span></a></td>
                  <td class="border text-left py-3 px-4 text-center">Romor</td>
                  <td class="border text-left py-3 px-4 text-center">#5</td>
                  <td class="border text-left py-3 px-4 text-center">9,281</td>
               </tr>
               <tr>
                  <td class="border text-left py-3 px-4 text-center"><a class="hover:text-blue-500 flex" href="#"><img alt="avatar" src="https://www.hdwallpapers.in/download/2012_darksiders_ii-1920x1080.jpg" class="mt-2 mr-2 lg:visible w-8 h-8 rounded-full"><span class="lg:mr-0 mr-10 self-center">Tanmay Tiwari</span></a></td>
                  <td class="border text-left py-3 px-4 text-center">USA</td>
                  <td class="border text-left py-3 px-4 text-center">#7</td>
                  <td class="border text-left py-3 px-4 text-center">9,281</td>
               </tr>
               <tr>
                  <td class="border text-left py-3 px-4 text-center"><a class="hover:text-blue-500 flex" href="#"><img alt="avatar" src="https://uifaces.co/our-content/donated/1H_7AxP0.jpg" class="mt-2 mr-2 lg:visible w-8 h-8 rounded-full"><span class="lg:mr-0 mr-10 self-center">Sreej Mukka</span></a></td>
                  <td class="border text-left py-3 px-4 text-center">Australia</td>
                  <td class="border text-left py-3 px-4 text-center">#8</td>
                  <td class="border text-left py-3 px-4 text-center">9,281</td>
               </tr>
               <tr>
                  <td class="border text-left py-3 px-4 text-center"><a class="hover:text-blue-500 flex" href="#"><img alt="avatar" src="https://media.contentapi.ea.com/content/dam/gin/images/2017/01/crysis-3-keyart.jpg.adapt.crop1x1.767p.jpg" class="mt-2 mr-2 lg:visible w-8 h-8 rounded-full"><span class="lg:mr-0 mr-10 self-center">Raghavendra</span></a></td>
                  <td class="border text-left py-3 px-4 text-center">Swiz</td>
                  <td class="border text-left py-3 px-4 text-center">#9</td>
                  <td class="border text-left py-3 px-4 text-center">9,281</td>
               </tr>
               <tr>
                  <td class="text-left py-3 px-4 text-center"><a class="hover:text-blue-500 flex" href="#"></a></td>
                  <td class="text-left py-3 px-4 text-center"></td>
                  <td class="text-left py-3 px-4 text-center"></td>
                  <td class="text-left py-3 text-center underline text-blue-600 cursor-pointer hover:text-blue-500">View All</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>