<div class="bg-gray-100">
  <div class="bg-gray-100" x-data="{ showModal1: false, showModal2: false, showModal3: false }" :class="{'overflow-y-hidden': showModal1 || showModal2 || showModal3}">
    <div class="flex md:hidden">
        <button id="filter-btn" class="px-2 py-1 ml-auto rounded border-2 border-blue-500 m-3 hover:bg-blue-600 hover:text-white" onclick="myFunction()"><i class="fa  fa-filter text-xs" aria-hidden="true"></i></button>  
    </div>
    <div class="md:bg-gray-800 hidden md:block" id="filters" >
       <%= render partial: 'filter-bar' %>
    </div>
    <section class="container mx-auto max-w-7xl">
        <div class="flex flex-wrap lg:py-2">
          <div class="xl:w-3/5 lg:w-1/2 md:w-2/4 p-3 md:p-4">
            <%= render partial: 'forum-cards' %>
          </div>
          <div class="xl:w-2/5 lg:w-1/2 md:w-1/2 w-full p-4 md:p-3">
              <%= render partial: 'leaderboard' %>
          </div>
        </div>
    </section>
    <!-- Modal1 -->
   <%= render partial: 'partials/discussions-modal' %>
  </div>
</div>
 <script>
        var x = document.getElementById("filters");
        var b = document.getElementById("filter-btn");
        function myFunction() {
        
        if (x.style.display === "none") {
        x.style.display = "block";
        b.classList.add("bg-blue-500");
        b.classList.add("text-white");
        }
        else{
        x.style.display = "none";
        b.classList.remove("bg-blue-500");
        b.classList.remove("text-white");
        } 
        }
    </script>