<div class="bg-gray-100">
  <div class="bg-gray-100" x-data="{ showModal1: false, showModal2: false, showModal3: false }" :class="{'overflow-y-hidden': showModal1 || showModal2 || showModal3}">
    <div class="flex md:hidden">
        <button id="filter-btn" class="px-2 py-1 ml-auto rounded border-2 border-blue-500 m-3 hover:bg-blue-600 hover:text-white" onclick="myFunction()"><i class="fa  fa-filter text-xs" aria-hidden="true"></i></button>  
    </div>
    <div class="md:bg-gray-800 hidden md:block" id="filters" >
        <nav class="max-w-7xl font-sans xl:flex lg:flex md:flex flex-col container mx-auto xl:text-center lg:text-center md:text-center content-center sm:flex-row sm:text-left sm:justify-between py-3 lg:px-4 xl:px-4 md:px-3  sm:items-baseline w-full">
          <div class="mb-2 sm:mb-0 inner xl:ml-0 lg:ml-0 md:ml-0 ml-3">
              <div class="relative inline-flex lg:mr-0">
                <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232">
                    <path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#648299" fill-rule="nonzero"/>
                </svg>
                <select class="rounded-full text-gray-800 cursor-pointer h-10 pl-5 pr-10 bg-white hover:border-gray-500 focus:outline-none appearance-none">
                    <option>all categories</option>
                    <option>Techical</option>
                    <option>Logical</option>
                    <option>Oops</option>
                    <option>.Net</option>
                </select>
              </div>
              <div class="relative inline-flex">
                <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232">
                    <path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#648299" fill-rule="nonzero"/>
                </svg>
                <select class="rounded-full text-gray-700 cursor-pointer h-10 pl-5 w-24 pr-10 bg-white hover:border-gray-500 focus:outline-none appearance-none">
                    <option>tags</option>
                    <option>PMP</option>
                    <option>Full Stack</option>
                    <option>Python</option>
                    <option>DS</option>
                </select>
              </div>
          </div>
          <div class="xl:ml-0 lg:ml-0 md:ml-0 ml-3 sm:mb-0 self-center">
              <button
                type="button" @click="showModal1 = true"
                class="border lg:mr-0 lg:ml-0 border-4 bg-white rounded-full  h-10 text-gray-800 hover:text-white rounded-md px-2 py-1 transition duration-500 ease select-none hover:bg-indigo-600 focus:outline-none focus:shadow-outline"
                >
              <i class="fa fa-plus"></i> New Discussion
              </button>
          </div>
        </nav>
    </div>
    <section class="container mx-auto max-w-7xl">
        <div class="flex flex-wrap lg:py-2">
          <div class="xl:w-3/5 lg:w-1/2 md:w-2/4 p-3 md:p-4">
              <div class="hover:shadow-xl items-center mb-5">
                <div class='bg-white py-1.5 lg:h-24 lg:py-2.5 rounded-lg shadow xl:h-28'>
                    <a href="/discussions">
                      <div class='flex items-center px-5 xl:py-3'>
                          <div class="grid gird-cols-2">
                            <h1 class='text-gray-800 text-lg'><b>Data Science full program</b></h1>
                            <h5 class="text-gray-600 font-mediym">Discuss the topic here</h5>
                            <p class="text-sm text-gray-500 flex">Last post 7 hours ago
                                <img alt="avatar" src="https://appzzang.me/data/editor/1608/f9c387cb6bd7a0b004f975cd92cbe2d9_1471626325_6802.png" class="ml-4 border-2 border-white mt-1 lg:visible invisible  w-5 h-5 rounded-full">
                                <img alt="avatar" src="https://inews.gtimg.com/newsapp_match/0/8693739867/0" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                                <img alt="avatar" src="https://appzzang.me/data/editor/1608/f9c387cb6bd7a0b004f975cd92cbe2d9_1471626325_6802.png" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                                <img alt="avatar" src="https://uifaces.co/our-content/donated/1H_7AxP0.jpg" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                            </p>
                          </div>
                          <p class="ml-auto font-semibold text-gray-400">1245 threads</p>
                          <span class="ml-12"><i class="fa fa-chevron-right"></i></span>
                      </div>
                    </a>
                </div>
              </div>
              <div class="hover:shadow-xl items-center mb-5">
                <div class='bg-white py-1.5 lg:h-24 lg:py-2.5 rounded-lg shadow xl:h-28'>
                    <a href="discussions.html">
                      <div class='flex items-center px-5 xl:py-3'>
                          <div class="grid gird-cols-2">
                            <h1 class='text-gray-800 text-lg'><b>Data Science full program</b></h1>
                            <h5 class="text-gray-600 font-mediym">Discuss the topic here</h5>
                            <p class="text-sm text-gray-500 flex">Last post 7 hours ago
                                <img alt="avatar" src="https://appzzang.me/data/editor/1608/f9c387cb6bd7a0b004f975cd92cbe2d9_1471626325_6802.png" class="ml-4 border-2 border-white mt-1 lg:visible invisible  w-5 h-5 rounded-full">
                                <img alt="avatar" src="https://inews.gtimg.com/newsapp_match/0/8693739867/0" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                                <img alt="avatar" src="https://appzzang.me/data/editor/1608/f9c387cb6bd7a0b004f975cd92cbe2d9_1471626325_6802.png" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                                <img alt="avatar" src="https://uifaces.co/our-content/donated/1H_7AxP0.jpg" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                            </p>
                          </div>
                          <p class="font-semibold ml-auto text-gray-400">1245 threads</p>
                          <span class="ml-12"><i class="fa fa-chevron-right"></i></span>
                      </div>
                    </a>
                </div>
              </div>
              <div class="hover:shadow-xl items-center mb-5">
                <div class='bg-white py-1.5 lg:h-24 lg:py-2.5 rounded-lg shadow xl:h-28'>
                    <a href="discussions.html">
                      <div class='flex items-center px-5  xl:py-3'>
                          <div class="grid gird-cols-2">
                            <h1 class='text-gray-800 text-lg'><b>Data Science full program</b></h1>
                            <h5 class="text-gray-600 font-mediym">Discuss the topic here</h5>
                            <p class="text-sm text-gray-500 flex">Last post 7 hours ago
                                <img alt="avatar" src="https://appzzang.me/data/editor/1608/f9c387cb6bd7a0b004f975cd92cbe2d9_1471626325_6802.png" class="ml-4 border-2 border-white mt-1 lg:visible invisible  w-5 h-5 rounded-full">
                                <img alt="avatar" src="https://inews.gtimg.com/newsapp_match/0/8693739867/0" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                                <img alt="avatar" src="https://appzzang.me/data/editor/1608/f9c387cb6bd7a0b004f975cd92cbe2d9_1471626325_6802.png" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                                <img alt="avatar" src="https://uifaces.co/our-content/donated/1H_7AxP0.jpg" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                            </p>
                          </div>
                          <p class="font-semibold ml-auto text-gray-400">1245 threads</p>
                          <span class="ml-12"><i class="fa fa-chevron-right"></i></span>
                      </div>
                    </a>
                </div>
              </div>
              <div class="hover:shadow-xl items-center mb-5">
                <div class='bg-white py-1.5 lg:h-24 lg:py-2.5 rounded-lg shadow xl:h-28'>
                    <a href="discussions.html">
                      <div class='flex items-center px-5  xl:py-3'>
                          <div class="grid gird-cols-2">
                            <h1 class='text-gray-800 text-lg'><b>Data Science full program</b></h1>
                            <h5 class="text-gray-600 font-mediym">Discuss the topic here</h5>
                            <p class="text-sm text-gray-500 flex">Last post 7 hours ago
                                <img alt="avatar" src="https://appzzang.me/data/editor/1608/f9c387cb6bd7a0b004f975cd92cbe2d9_1471626325_6802.png" class="ml-4 border-2 border-white mt-1 lg:visible invisible  w-5 h-5 rounded-full">
                                <img alt="avatar" src="https://inews.gtimg.com/newsapp_match/0/8693739867/0" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                                <img alt="avatar" src="https://appzzang.me/data/editor/1608/f9c387cb6bd7a0b004f975cd92cbe2d9_1471626325_6802.png" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                                <img alt="avatar" src="https://uifaces.co/our-content/donated/1H_7AxP0.jpg" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                            </p>
                          </div>
                          <p class="font-semibold ml-auto text-gray-400">1245 threads</p>
                          <span class="ml-12"><i class="fa fa-chevron-right"></i></span>
                      </div>
                    </a>
                </div>
              </div>
              <div class="hover:shadow-xl items-center mb-5">
                <div class='bg-white py-1.5 lg:h-24 lg:py-2.5 rounded-lg shadow xl:h-28'>
                    <a href="discussions.html">
                      <div class='flex items-center px-5  xl:py-3'>
                          <div class="grid gird-cols-2">
                            <h1 class='text-gray-800 text-lg'><b>Data Science full program</b></h1>
                            <h5 class="text-gray-600 font-mediym">Discuss the topic here</h5>
                            <p class="text-sm text-gray-500 flex">Last post 7 hours ago
                                <img alt="avatar" src="https://appzzang.me/data/editor/1608/f9c387cb6bd7a0b004f975cd92cbe2d9_1471626325_6802.png" class="ml-4 border-2 border-white mt-1 lg:visible invisible  w-5 h-5 rounded-full">
                                <img alt="avatar" src="https://inews.gtimg.com/newsapp_match/0/8693739867/0" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                                <img alt="avatar" src="https://appzzang.me/data/editor/1608/f9c387cb6bd7a0b004f975cd92cbe2d9_1471626325_6802.png" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                                <img alt="avatar" src="https://uifaces.co/our-content/donated/1H_7AxP0.jpg" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                            </p>
                          </div>
                          <p class="font-semibold ml-auto text-gray-400">1245 threads</p>
                          <span class="ml-12"><i class="fa fa-chevron-right"></i></span>
                      </div>
                    </a>
                </div>
              </div>
              <div class="hover:shadow-xl items-center mb-5">
                <div class='bg-white py-1.5 lg:h-24 lg:py-2.5 rounded-lg shadow xl:h-28'>
                    <a href="discussions.html">
                      <div class='flex items-center px-5  xl:py-3'>
                          <div class="grid gird-cols-2">
                            <h1 class='text-gray-800 text-lg'><b>Data Science full program</b></h1>
                            <h5 class="text-gray-600 font-mediym">Discuss the topic here</h5>
                            <p class="text-sm text-gray-500 flex">Last post 7 hours ago
                                <img alt="avatar" src="https://appzzang.me/data/editor/1608/f9c387cb6bd7a0b004f975cd92cbe2d9_1471626325_6802.png" class="ml-4 border-2 border-white mt-1 lg:visible invisible  w-5 h-5 rounded-full">
                                <img alt="avatar" src="https://inews.gtimg.com/newsapp_match/0/8693739867/0" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                                <img alt="avatar" src="https://appzzang.me/data/editor/1608/f9c387cb6bd7a0b004f975cd92cbe2d9_1471626325_6802.png" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                                <img alt="avatar" src="https://uifaces.co/our-content/donated/1H_7AxP0.jpg" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                            </p>
                          </div>
                          <p class="font-semibold ml-auto text-gray-400">1245 threads</p>
                          <span class="ml-12"><i class="fa fa-chevron-right"></i></span>
                      </div>
                    </a>
                </div>
              </div>
              <div class="hover:shadow-xl items-center mb-5">
                <div class='bg-white py-1.5 lg:h-24 lg:py-2.5 rounded-lg shadow xl:h-28'>
                    <a href="discussions.html">
                      <div class='flex items-center px-5 xl:py-3'>
                          <div class="grid gird-cols-2">
                            <h1 class='text-gray-800 text-lg'><b>Data Science full program</b></h1>
                            <h5 class="text-gray-600 font-mediym">Discuss the topic here</h5>
                            <p class="text-sm text-gray-500 flex">Last post 7 hours ago
                                <img alt="avatar" src="https://appzzang.me/data/editor/1608/f9c387cb6bd7a0b004f975cd92cbe2d9_1471626325_6802.png" class="ml-4 border-2 border-white mt-1 lg:visible invisible  w-5 h-5 rounded-full">
                                <img alt="avatar" src="https://inews.gtimg.com/newsapp_match/0/8693739867/0" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                                <img alt="avatar" src="https://appzzang.me/data/editor/1608/f9c387cb6bd7a0b004f975cd92cbe2d9_1471626325_6802.png" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                                <img alt="avatar" src="https://uifaces.co/our-content/donated/1H_7AxP0.jpg" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                            </p>
                          </div>
                          <p class="font-semibold ml-auto text-gray-400">1245 threads</p>
                          <span class="ml-12"><i class="fa fa-chevron-right"></i></span>
                      </div>
                    </a>
                </div>
              </div>
              <div class="hover:shadow-xl items-center mb-5">
                <div class='bg-white py-1.5 lg:h-24 lg:py-2.5 rounded-lg shadow xl:h-28'>
                    <a href="discussions.html">
                      <div class='flex items-center px-5  xl:py-3'>
                          <div class="grid gird-cols-2">
                            <h1 class='text-gray-800 text-lg'><b>Data Science full program</b></h1>
                            <h5 class="text-gray-600 font-mediym">Discuss the topic here</h5>
                            <p class="text-sm text-gray-500 flex">Last post 7 hours ago
                                <img alt="avatar" src="https://appzzang.me/data/editor/1608/f9c387cb6bd7a0b004f975cd92cbe2d9_1471626325_6802.png" class="ml-4 border-2 border-white mt-1 lg:visible invisible  w-5 h-5 rounded-full">
                                <img alt="avatar" src="https://inews.gtimg.com/newsapp_match/0/8693739867/0" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                                <img alt="avatar" src="https://appzzang.me/data/editor/1608/f9c387cb6bd7a0b004f975cd92cbe2d9_1471626325_6802.png" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                                <img alt="avatar" src="https://uifaces.co/our-content/donated/1H_7AxP0.jpg" class="mt-1 border-2 border-white lg:visible invisible w-5 h-5 rounded-full" style="margin-left: -8px;">
                            </p>
                          </div>
                          <p class="font-semibold ml-auto text-gray-400">1245 threads</p>
                          <span class="ml-12"><i class="fa fa-chevron-right"></i></span>
                      </div>
                    </a>
                </div>
              </div>
          </div>
          <div class="xl:w-2/5 lg:w-1/2 md:w-1/2 w-full p-4 md:p-3">
              <div class="height shadow-lg w-full mx-auto">
                <div class="w-full">
                    <div class=" shadow overflow-hidden rounded border-b border-gray-200 overflow-x-auto rounded-lg">
                      <table class="bg-white w-full">
                          <thead class="bg-gray-200 text-gray-800">
                            <tr>
                                <th class="border text-left p-3 capitalize font-semibold text-sm text-center"><i class="fa fa-user mt-1 mr-1.5 text-gray-400 hover:text-black cursor-pointer" ></i> User</th>
                                <th class="border text-left p-3 capitalize font-semibold text-sm text-center">
                                  <div class="flex"><i class="text-gray-400 hover:text-black cursor-pointer ml-2"></i>Country</div>
                                </th>
                                <th class="border text-left p-3 capitalize font-semibold text-sm text-center">
                                  <div class="flex"><i class="fa fa-sort-size-up mt-1 mr-1.5 text-gray-400 hover:text-black cursor-pointer" ></i>Rank</div>
                                </th>
                                <th class="border text-left p-3 capitalize font-semibold text-sm text-center">
                                  <div class="flex"><i class="fa fa-sort-size-up mt-1 mr-1.5 text-gray-400 hover:text-black cursor-pointer" ></i>Score</div>
                                  </td>
                            </tr>
                          </thead>
                          <tbody class="text-gray-700">
                            <tr>
                                <td class="border text-left py-3 px-4 text-center"><a class="hover:text-blue-500 flex" href="user_profile.html"><img alt="avatar" src="https://appzzang.me/data/editor/1608/f9c387cb6bd7a0b004f975cd92cbe2d9_1471626325_6802.png" class="mt-2 mr-2 lg:visible w-8 h-8 rounded-full"><span class="lg:mr-0 mr-10 self-center">Thomas alexander</span></a></td>
                                <td class="border text-left py-3 px-4 text-center">Austria</td>
                                <td class="border text-left py-3 px-4 text-center">#1</td>
                                <td class="border text-left py-3 px-4 text-center">9,281</td>
                            </tr>
                            <tr>
                                <td class="border text-left py-3 px-4 text-center"><a class="hover:text-blue-500 flex" href="user_profile.html"><img alt="avatar" src="https://inews.gtimg.com/newsapp_match/0/8693739867/0" class="mt-2 mr-2 lg:visible w-8 h-8 rounded-full"><span class="lg:mr-0 mr-10 self-center">Rohith krishna</span></a></td>
                                <td class="border text-left py-3 px-4 text-center">India</td>
                                <td class="border text-left py-3 px-4 text-center">#2</td>
                                <td class="border text-left py-3 px-4 text-center">9,281</td>
                            </tr>
                            <tr>
                                <td class="border text-left py-3 px-4 text-center"><a class="hover:text-blue-500 flex" href="#"><img alt="avatar" src="https://appzzang.me/data/editor/1608/f9c387cb6bd7a0b004f975cd92cbe2d9_1471626325_6802.png" class="mt-2 mr-2 lg:visible w-8 h-8 rounded-full"><span class="lg:mr-0 mr-10 self-center">Rushali Asthana</span></a></td>
                                <td class="border text-left py-3 px-4 text-center">Newyork</td>
                                <td class="border text-left py-3 px-4 text-center">#3</td>
                                <td class="border text-left py-3 px-4 text-center">9,281</td>
                            </tr>
                            <tr>
                                <td class="border text-left py-3 px-4 text-center"><a class="hover:text-blue-500 flex" href="#"><img alt="avatar" src="https://www.hdwallpapers.in/download/2012_darksiders_ii-1920x1080.jpg" class="mt-2 mr-2 lg:visible w-8 h-8 rounded-full"><span class="lg:mr-0 mr-10 self-center">Bhavana</span></a></td>
                                <td class="border text-left py-3 px-4 text-center">Benzil</td>
                                <td class="border text-left py-3 px-4 text-center">#4</td>
                                <td class="border text-left py-3 px-4 text-center">9,281</td>
                            </tr>
                            <tr>
                                <td class="border text-left py-3 px-4 text-center w-1/2"><a class="hover:text-blue-500 flex" href="#"><img alt="avatar" src="https://media.contentapi.ea.com/content/dam/gin/images/2017/01/crysis-3-keyart.jpg.adapt.crop1x1.767p.jpg" class="mt-2 mr-2 lg:visible w-8 h-8 rounded-full"><span class="lg:mr-0 mr-10 self-center">Vidhi Agarwal</span></a></td>
                                <td class="border text-left py-3 px-4 text-center">Romor</td>
                                <td class="border text-left py-3 px-4 text-center">#5</td>
                                <td class="border text-left py-3 px-4 text-center">9,281</td>
                            </tr>
                            <tr>
                                <td class="border text-left py-3 px-4 text-center"><a class="hover:text-blue-500 flex" href="#"><img alt="avatar" src="https://www.hdwallpapers.in/download/2012_darksiders_ii-1920x1080.jpg" class="mt-2 mr-2 lg:visible w-8 h-8 rounded-full"><span class="lg:mr-0 mr-10 self-center">Tanmay Tiwari</span></a></td>
                                <td class="border text-left py-3 px-4 text-center">USA</td>
                                <td class="border text-left py-3 px-4 text-center">#7</td>
                                <td class="border text-left py-3 px-4 text-center">9,281</td>
                            </tr>
                            <tr>
                                <td class="border text-left py-3 px-4 text-center"><a class="hover:text-blue-500 flex" href="#"><img alt="avatar" src="https://uifaces.co/our-content/donated/1H_7AxP0.jpg" class="mt-2 mr-2 lg:visible w-8 h-8 rounded-full"><span class="lg:mr-0 mr-10 self-center">Sreej Mukka</span></a></td>
                                <td class="border text-left py-3 px-4 text-center">Australia</td>
                                <td class="border text-left py-3 px-4 text-center">#8</td>
                                <td class="border text-left py-3 px-4 text-center">9,281</td>
                            </tr>
                            <tr>
                                <td class="border text-left py-3 px-4 text-center"><a class="hover:text-blue-500 flex" href="#"><img alt="avatar" src="https://media.contentapi.ea.com/content/dam/gin/images/2017/01/crysis-3-keyart.jpg.adapt.crop1x1.767p.jpg" class="mt-2 mr-2 lg:visible w-8 h-8 rounded-full"><span class="lg:mr-0 mr-10 self-center">Raghavendra</span></a></td>
                                <td class="border text-left py-3 px-4 text-center">Swiz</td>
                                <td class="border text-left py-3 px-4 text-center">#9</td>
                                <td class="border text-left py-3 px-4 text-center">9,281</td>
                            </tr>
                            <tr>
                                <td class="text-left py-3 px-4 text-center"><a class="hover:text-blue-500 flex" href="#"></a></td>
                                <td class="text-left py-3 px-4 text-center"></td>
                                <td class="text-left py-3 px-4 text-center"></td>
                                <td class="text-left py-3 text-center underline text-blue-600 cursor-pointer hover:text-blue-500">View All</td>
                            </tr>
                          </tbody>
                      </table>
                    </div>
                </div>
              </div>
          </div>
        </div>
    </section>
    <!-- Modal1 -->
    <div
        class="fixed inset-0 w-full h-full z-20 bg-black bg-opacity-50 duration-300 overflow-y-auto"
        x-show="showModal1"
        x-transition:enter="transition duration-300"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition duration-300"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
        >
        <div class="relative sm:w-3/4 md:w-1/2 lg:w-1/3 mx-2 sm:mx-auto my-10 opacity-100">
          <div
              class="relative bg-white shadow-lg  text-gray-900 z-20 p-5"
              @click.away="showModal1 = false"
              x-show="showModal1"
              x-transition:enter="transition transform duration-300"
              x-transition:enter-start="scale-0"
              x-transition:enter-end="scale-100"
              x-transition:leave="transition transform duration-300"
              x-transition:leave-start="scale-100"
              x-transition:leave-end="scale-0"
              >
              <header class="flex items-center justify-between mb-5">
                <h2 class="font-semibold text-lg">Create A New Thread</h2>
                <button class="focus:outline-none bg-blue-50 hover:bg-blue-100 p-1 rounded " @click="showModal1 = false">
                    <svg class="fill-current " xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                      <path
                          d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
                          ></path>
                    </svg>
                </button>
              </header>
              <main class="">
                <p >Title:</p>
                <input type="text" placeholder="Custom focus style" class="w-full placeholder-gray-500 border rounded-md p-2 my-1 focus:outline-none" />
                <p class="mt-2">Body:</p>
                <!-- <img src="Capture.PNG" class="">-->
                <%= image_tag 'writetool.PNG' , alt:"writetool" ,loading:"lazy" %>
                <p class="mt-2" >Forum:</p>
                <select class="w-full placeholder-gray-500 border rounded-md p-2 my-1 focus:outline-none">
                    <option>Pmp Course</option>
                    <option>Data Science Course</option>
                    <option>Full Stack Course</option>
                </select>
                <p class="mt-2 mb-1">Additional Tags:</p>
                <div class="relative flex w-full flex-wrap items-stretch mb-3">
                    <input type="text" placeholder="Placeholder" class="px-3 py-3 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:shadow-outline w-full pr-10"/>
                    <span class="z-10 h-full leading-snug font-normal absolute text-center   bg-gray-300 rounded-r text-base items-center justify-center w-10 right-0 pr-3 py-3">
                    <i class="fa  fa-plus justify-items-center ml-3"></i>
                    </span>
                </div>
              </main>
              <footer class="flex justify-center p-2">
                <button
                    class="bg-blue-600 font-semibold text-white p-2 w-32 rounded-md hover:bg-blue-700 focus:outline-none focus:ring shadow-lg hover:shadow-none transition-all duration-300"
                    @click="showModal1 = false"
                    >
                Create
                </button>
              </footer>
          </div>
        </div>
    </div>
    <div
        class="fixed inset-0 w-full h-full z-20 bg-black bg-opacity-50 duration-300 overflow-y-auto"
        x-show="showModal2"
        x-transition:enter="transition duration-300"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition duration-300"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
        >
        <div class="relative sm:w-3/4 md:w-1/2 lg:w-1/3 mx-2 sm:mx-auto my-10 opacity-100">
          <div
              class="relative bg-white shadow-lg rounded-lg text-gray-900 z-20"
              @click.away="showModal2 = false"
              x-show="showModal2"
              x-transition:enter="transition transform duration-300"
              x-transition:enter-start="scale-0"
              x-transition:enter-end="scale-100"
              x-transition:leave="transition transform duration-300"
              x-transition:leave-start="scale-100"
              x-transition:leave-end="scale-0"
              >
              <div class="grid place-items-center">
                <div class="p-12 bg-white">
                    <h1 class="text-xl font-semibold">Hello there 👋, <span class="font-normal">please fill in your information to continue</span></h1>
                    <form class="mt-6">
                      <div class="flex justify-between gap-3">
                          <span class="w-1/2">
                          <label for="firstname" class="block text-xs font-semibold text-gray-600 uppercase">Firstname</label>
                          <input id="firstname" type="text" name="firstname" placeholder="John" autocomplete="given-name" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
                          </span>
                          <span class="w-1/2">
                          <label for="lastname" class="block text-xs font-semibold text-gray-600 uppercase">Lastname</label>
                          <input id="lastname" type="text" name="lastname" placeholder="Doe" autocomplete="family-name" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
                          </span>
                      </div>
                      <label for="email" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">E-mail</label>
                      <input id="email" type="email" name="email" placeholder="john.doe@company.com" autocomplete="email" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
                      <label for="password" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Password</label>
                      <input id="password" type="password" name="password" placeholder="********" autocomplete="new-password" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
                      <label for="password-confirm" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Confirm password</label>
                      <input id="password-confirm" type="password" name="password-confirm" placeholder="********" autocomplete="new-password" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
                      <button onclick="window.location.href=' signin_user.html'" class="w-full py-3 mt-6 font-medium tracking-widest text-white uppercase bg-black shadow-lg focus:outline-none hover:bg-gray-900 hover:shadow-none">
                      Sign up
                      </button>
                      <p class="flex justify-between inline-block mt-4 text-xs text-gray-500 cursor-pointer hover:text-black" @click="showModal3 = true">Already registered?</p>
                    </form>
                </div>
              </div>
          </div>
        </div>
    </div>
    <div
        class="fixed inset-0 w-full h-full z-20 bg-black bg-opacity-50 duration-300 overflow-y-auto"
        x-show="showModal3"
        x-transition:enter="transition duration-300"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition duration-300"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
        >
        <div class="relative sm:w-3/4 md:w-1/2 lg:w-1/3 mx-2 sm:mx-auto my-10 opacity-100">
          <div
              class="relative bg-white shadow-lg rounded-lg text-gray-900 z-20"
              @click.away="showModal3 = false"
              x-show="showModal3"
              x-transition:enter="transition transform duration-300"
              x-transition:enter-start="scale-0"
              x-transition:enter-end="scale-100"
              x-transition:leave="transition transform duration-300"
              x-transition:leave-start="scale-100"
              x-transition:leave-end="scale-0"
              >
              <div class="">
                <div class="p-12 bg-white">
                    <h1 class="text-xl font-semibold text-center">Hello 👋, <span class="font-normal">Welcome back!</span></h1>
                    <form class="mt-6">
                      <label for="email" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">E-mail or User Name</label>
                      <input id="email" type="email" name="email" placeholder="E-mail or User Name" autocomplete="email" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
                      <label for="password" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Password</label>
                      <input id="password" type="password" name="password" placeholder="********" autocomplete="new-password" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
                      <button onclick="window.location.href=' signin_user.html'" class="w-full py-3 mt-6 font-medium tracking-widest text-white uppercase bg-black shadow-lg focus:outline-none hover:bg-gray-900 hover:shadow-none">
                      Sign in
                      </button>
                      <p class="flex justify-between inline-block mt-4 text-xs text-gray-500 cursor-pointer hover:text-black">Forget Password?</p>
                    </form>
                </div>
              </div>
          </div>
        </div>
    </div>
    <script>
        var x = document.getElementById("filters");
        var b = document.getElementById("filter-btn");
        function myFunction() {
        
        if (x.style.display === "none") {
        x.style.display = "block";
        b.classList.add("bg-blue-500");
        b.classList.add("text-white");
        }
        else{
        x.style.display = "none";
        b.classList.remove("bg-blue-500");
        b.classList.remove("text-white");
        } 
        }
    </script>
  </div>
</div>